<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="/">WCJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <div class="navbar-nav">
       {% for item in site.data.navigation %}
       <a class="nav-item nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}" >{{ item.name }}</a>
       {% endfor %}
     </div>
   </div>
</nav>