---
layout: default
---
<h1>{{ page.title }}</h1>
{{ content }}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Evenemang</h2>
      {% include event_list.html %}
    </div>
    <div class="col-sm">
      <h2>Nyheter</h2>
      {% include blog_list.html %}
    </div>
    <div class="col-sm">
      <h2>Medlemskap</h2>
      {% include swingweb_medlemskap.html %}
      <h2>Anmälan i Swingweb</h2>
      {% include swingweb_events.html %}
    </div>
  </div>
</div>

{% assign alldocs = site.documents %}
{% for document in alldocs %}
<h1>{{document.name}}</h1>
{% endfor %}
